<div class="container">
  <div class="row no-gutters">
    <div class="col-10">
      <div class="mt-2" style="height: 550px; width: 100%" id="map" (click)="setMarker($event)"></div>
    </div>
    <div class="col-2">
      <div class="row">
        <div class="mt-4">
          <button class="btn btn-dark me-2"
                  [disabled]="isGridPresent || !isMarkerPresent || mainFormGroup.value.gridSize <= 0 || mainFormGroup.value.gridSize.cellSize <= 0"
                  (click)="setGrid()">
            Add Grid
          </button>
          <button class="btn btn-dark" (click)="clearMap()">Clear</button>
        </div>
      </div>
      <div class="row">
        <form [formGroup]="mainFormGroup">
          <div class="form-group mt-2">
            <label for="gridSizeInput">Grid Size</label>
            <input type="number" class="form-control" id="gridSizeInput" placeholder="Enter grid size"
                   formControlName="gridSize">
            <label class="mt-2" for="cellSizeInput">Cell Size</label>
            <input type="number" class="form-control" id="cellSizeInput" placeholder="Enter cell size"
                   formControlName="cellSize">
          </div>
          <hr>
          <div>
            <label for="latInput">Longitude</label>
            <input type="number" class="form-control" id="latInput" placeholder="Enter longitude"
                   formControlName="markerLong">
            <label for="longInput">Latitude</label>
            <input type="number" class="form-control" id="longInput" placeholder="Enter latitude"
                   formControlName="markerLat">
            <button class="btn btn-dark mt-2" [disabled]="isMarkerPresent" (click)="addMarker()">Add Marker</button>
          </div>
          <hr>
          <div>
            <label for="pollutionStrengthInput">Pollution strength</label>
            <input type="number" class="form-control" id="pollutionStrengthInput" placeholder="Enter pollution strength"
                   formControlName="pollutionStrength">
          </div>
        </form>
      </div>
    </div>
  </div>
  <button class="btn btn-dark mt-2" disabled>Generate excell</button>
</div>


